<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/204272df22.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="header-bar__top">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <section class="header-search">
                <input class="header-search__bar" type="text" placeholder="Buscar productos, marcas" />
                <button class="header-search__button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </section>
            <p class="header-titulo"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
        
        <nav class="navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul class="right-navbar">
                <li><a href="register.html">Creá tu cuenta </a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="login.html">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <form class="form-register" action="/MERCADO LIEBRE/views/home.html" method="post">

            <h2 class="form-register__titulo">Datos personales</h2>
            <div class="form-register__caja">
                <input type="text" min="2" name="nombre-completo" placeholder="Nombre y apellido" required>
            </div>
            <div class="form-register__caja">
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-register__caja">
                <input type="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="form-register__caja">
                <input type="password" name="password" placeholder="Crea una contraseña" required>
            </div>
            <div class="form-register__caja">
                <input type="password" name="password" placeholder="Confirmar contraseña" required>
            </div>
            <div class="form-register__caja">
                <span>Imagen de perfil</span>
                <br>
                <input type="file" name="imagen" value="jpg"> 
            </div>
            <h2 class="form-register__titulo">Fecha de nacimiento</h2>
            <div class="form-register__caja">
                <input type="date" name="fecha" required>
            </div>
            <div class="form-register__caja">
                <input type="text" name="domicilio" placeholder="Domicilio" required>
            </div>
            <h2 class="form-register__titulo">Perfil del usuario</h2>
            <div class="form-register__perfil">
                <input type="radio" name="domicilio" value="Comprador" checked><span>Comprador</span>
                <input type="radio" name="domicilio" value="Vendedor"><span>Vendedor</span>
            </div>
            <h2 class="form-register__titulo">Intereses</h2>
            <ul type="none" class="form-register__intereses">
                <li class="intereses"><input type="checkbox" name="intereses" value="Electro"><label for="Electro">Electro</label></li>
                <li class="intereses"><input type="checkbox" name="intereses" value="Moda"><label for="Moda">Moda</label></li>
                <li class="intereses"><input type="checkbox" name="intereses" value="Hogar"><label>Hogar</label></li>
                <li class="intereses"><input type="checkbox" name="intereses" value="Juguetería"><label for="Juguetería">Juguetería</label></li>
                <li class="intereses"><input type="checkbox" name="intereses" value="Vida sana"><label for="Vida sana">Vida sana</label></li>
            </ul>
            <div class="form-register__buttons">
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
            </div>
        </form>

    </main>
    <footer>
        <div class="footer">
            <div class="footer-section--row">
                <section class="footer-section">
                    <i class="fas fa-credit-card"></i>
                    <h3 class="footer-section__titulo">Pagá con tarjeta o en efectivo</h3>
                    <p class="footer-section__parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section class="footer-section">
                    <i class="fas fa-gift"></i>
                    <h3 class="footer-section__titulo">Envío gratis desde $ 2.500</h3>
                    <p class="footer-section__parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section class="footer-section">
                    <i class="fas fa-user-shield"></i>
                    <h3 class="footer-section__titulo">Seguridad, de principio a fin</h3>
                    <p class="footer-section__parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>
            </div>
            <p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>  
    </footer>
</body>
</html>