/* Generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}
body {
    background-color: var(--grisClaro);
    color: var(--grisOscuro);
    font-size: 12px;
    width: 100vw;
}
/* main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
} */

/* HEADER */
.header{
    background-color: var(--amarillo);
    padding: 20px;   
}
.logo{
    width: 200px;
}
.header-titulo{
    font-weight: 400;
    text-align: center; 
}
.burger-menu{
    background-color: var(--azul);
    color: white;
    display: block;
    max-width: 50px;
    font-size: 2em;
    padding: 15px 0px;
    border-radius: 20%;
    text-align: center;
    margin: auto;
}
.navbar{
    display: none;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    color: var(--grisOscuro);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

/* MAIN */
main{
    width: 90%;
}
.main-banner{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.main-banner__imagen{
    width: 100%;
    height: 20%;
}
.main-section__titulo{
    font-size: 24px;
}
.main-contenedor__titulo{
    font-size: 16px;
}

.main-article{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
}
.main-article__contenedor{
    border: solid 1px --grisClaro;
    background-color: white;
}
.main-article__imagen{
    width: 98%;
}
.main-contenedor__precio{
    line-height: 70%;
    font-size: 18px;
}
.main-contenedor__descuento{
    line-height: 30%;
    font-size: 16px;
}

/* FOOTER */
.footer{
    background-color: white;
    padding-top: 50px;
    margin: 10px;
}
footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--azul);
}
.footer-copyright{
    text-align: left;
}

@media (min-width: 768px) {
    .header-bar__top{
        display: flex;
        justify-content: space-between;
    }
    .header-titulo{
        max-width: 350px;
        text-align: right;
    }
    .burger-menu{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .navbar ul{
        display: flex;
    }
    .navbar li{
        margin: 0 5px;
    }
    .main-article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 1200px) {
    .logo{
        width: 250px;
    }
    .header-bar__top,
    .navbar{
        max-width: 1200px;
        border: dotted 2px red;
        margin: auto;
    }
    .header-bar__top{
        align-items: center;
    }
    .header-titulo{
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .navbar{
        margin-top: 40px;
    }
    .navbar li{
        margin: 0 10px;
    }
    .navbar a{
        font-size: 19px;
    }
}