/* Generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --azulRey: #0022AA;
}
body {
    background-color: var(--grisClaro);
    font-size: 12px;
    width: 100vw;
    color: black;
}

/* HEADER */
.header{
    background-color: var(--amarillo);
    padding: 20px;
}
.header-bar__top{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 50%;
    padding-right: 10px;
}
.header-search{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.header-search__bar{
    color: var(--grisOscuro);
    font-size: 12px;
    display: block;
    width: 80%;
    height: 24px;
    border: white solid 5px;
}
.header-search__button{
    color: var(--grisOscuro);
    padding: 0px;
    height: 24px;
    background-color: white;
    border: 0;
    padding-right: 3px;
}
.header-titulo{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.burger-menu{
    background-color: var(--celeste);
    color: white;
    display: block;
    max-width: 50px;
    font-size: 2em;
    padding: 10px 0px;
    border-radius: 20%;
    text-align: center;
    margin: auto;
}
.navbar{
    display: none;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    color: var(--grisOscuro);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

/* MAIN */
.main-banner{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.main-banner__imagen{
    width: 100%;
    height: 20%;
}
.main{
    width: 90%;
    margin: auto;
}
.main-section__titulo{
    font-size: 24px;
    font-weight: 900;
    padding: 10px;
}

.main-article{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.main-article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.main-article:hover i{
    transform: rotate(-90deg);
    transition: all 600ms;
}
.main-article__contenedor{
    border-top: solid var(--grisClaro) 2px;
    background-color: white;
    padding: 15px;
    position: relative;
}
.main-article__contenedor i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: var(--verde);
    border-radius: 50%;
    right: 20px;
    top: -15px;
    position: absolute;
}
.main-contenedor__numeros{
    display: flex;  
}
.main-contenedor__precio{
    font-size: 18px;
}
.main-contenedor__descuento{
    font-size: 16px;
    color: var(--verde);
    padding-left: 10px;
}
.main-contenedor__titulo{
    font-size: 16px;
    display: none;
    padding-top: 20px;
}
.main-article:hover .main-contenedor__titulo{
    display: block;
}


/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    width: 90%;
    margin: auto;
    text-align: center;
}
.footer-section{
    padding-bottom: 10px;
    padding: 20px;
}
.footer i{
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
}
.footer i:hover{
    color: var(--azulRey);
    transition: all 450ms;
}

.footer-copyright{
    text-align: left;
    padding: 5px 20px;
}

/* FORMULARIO REGISTER */
.form-register{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}
.form-register__titulo{
    padding-top: 5px;
}
.form-register__caja,
.form-register__perfil,
.form-register__intereses{
    padding-bottom: 5px;
    padding-top: 5px;
}
.form-register__caja input{
    width: 100%;
    margin-top: 10px;
    border: 0;
    height: 24px;
    padding: 5px;
}
.form-register__perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.intereses input,
.intereses label{
    display: inline;
}
.intereses label{
    padding-left: 10px;
}
.form-register__buttons{
    display: flex;
    flex-direction: column;
}
.form-register__buttons button{
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: var(--celeste);
    border: none;
    margin-top: 10px;
}
.form-register__buttons button:hover{
    background-color: var(--azulRey);
    transition: all 450ms;    
}

/* FORMULARIO LOGIN */
.form-login{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}
.form-login__caja input{
    width: 100%;
    margin-top: 10px;
    border: 0;
    height: 24px;
    padding: 5px;
}
.form-login__button{
    display: flex;
    flex-direction: column;
}
.form-login__button button{
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: var(--celeste);
    border: none;
    margin-top: 10px;
}
.form-login__button button:hover{
    background-color: var(--azulRey);
    transition: all 450ms;
}
@media (min-width: 361px) {
    .header-bar__top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .logo,
    .header-search,
    .header-titulo{
        width: 30%;
        padding: 0;
    }
    .header-titulo{
        font-size: 10px;
        text-align: center;
        margin: 0;
    }
    .burger-menu{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .navbar ul{
        display: flex;
        align-items: center;
    }
    .navbar li{
        margin: 0 5px;
    }
    .navbar a{
        font-size: 12px;
        font-weight: bold;
    }
    .products-wrapper{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-login{
        padding-bottom: 50px;
    }
    .main-article{
        width: 40vw;
    }
    .footer{
        width: 100vw;
        padding: 0;
    }
    .footer-section{
        padding: 20px 40px;
    }
    /* FORMULARIO REGISTER */
    .form-register{
        max-width: 400px;
    }
    /* FORMULARIO LOGIN */
    .form-login{
        max-width: 400px;
    }
}

@media (min-width: 769px) {
    .logo{
        width: 250px;
    }
    .header-bar__top,
    .navbar{
        max-width: 1200px;
        margin: auto;
    }
    .header-bar__top{
        align-items: center;
    }
    .header-titulo{
        margin: 0;
        max-width: none;
        font-size: 15px;
        font-weight: 400;
    }
    .navbar{
        margin-top: 40px;
    }
    .navbar li{
        margin: 0 10px;
    }
    .navbar a{
        font-size: 15px;
    }
    .main-article{
        width: 20vw;
    }
    .footer-section--row{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }
    .footer-section{
        padding: 20px 10px;
    }
    /* FORMULARIO LOGIN */
    .form-login{
        padding-bottom: 125px;
    }
}

@media (min-width:1000) {
    .main-banner__imagen{
        height: 10%;
    }
}